.title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2px;

    color: $text;
}