$primaryColor: #FFA62B;
$secondaryColor: #00A0C1;
$thirdaryColor: #16697A;

$grayBackground: #FAFAFA;
$darkGrayBackground: #F3F3F3;
$darkBackground: #252B42;
$lightBackground: #ffffff;

$text: #252B42;
$secondText: #737373;
$lightText: #FFFFFF;

