.social {
    padding-top: 25px;
    padding-bottom: 55px;
}

.social__rights {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: $secondText;
}

.social__links {
    display: flex;
    justify-content: space-evenly;
    width: 236px;
}

.social__link {
    margin-top: 53px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
}